.contact-details {
    width: fit-content;
    margin: 25px auto;
    color: white;
    border-radius: 20px;
    background-color: #13161f;

    .img-user {
        width: 200px;
        margin: 10px;
    }

    .menu-icoins {
        width: 100%;
        margin-block-start: 30px;
        margin-block-end: 7px;

        button{
            border: none;
            background-color: transparent;
            margin-block-end: 10px;
        }
    
        .delete {
            width: 50px;
            margin-block-start:-10px;
        }

        .edit {
            width: 60px;
            margin-block-start: -12px;
        }
    }
}
