.contact-filter {
    margin-block-start: 10px;
    font-size: 18px;

    input {
        border: 1px solid #eceaea;
        padding: 15px;
        border-radius: 25px;
        width: 250px;
        font-size: 14px;
        outline: none;
    }
}

