.signup-container {
    width: fit-content;
    margin: 100px auto;
    height: 25vh;
    color: white;
    border-radius: 20px;
    background-color: #13161f;
    background-image: url(../../assets/img/bitcoin-img.svg);

    input {
        border: 1px solid #eceaea;
        padding: 15px;
        border-radius: 25px;
        width: 250px;
        font-size: 14px;
        outline: none;
        margin: 20px;
    }

    .btn {
        margin: 20px 20px 0 0;
        // margin-block-start: 20px;
        // margin-inline-start: 10px;
        background-color: #ff7e00;
        color: #eceaea;
        justify-content: center;
        display: inline;
    }
}
