.contact-edit-container {
    width: fit-content;
    margin: 25px auto;
    color: white;
    border-radius: 20px;
    background-color: #13161f;
    width: 500px;
    // background-image: url(../../assets/img/bitcoin-img.svg);
    // background-repeat: no-repeat;
    // background-size: cover;

    h1 {
        margin: 40px 20px 0 20px;
    }

    form {
        > * {
            margin-block-start: 10px;
        }

        input {
            border: 1px solid #eceaea;
            padding: 15px;
            border-radius: 25px;
            width: 250px;
            font-size: 14px;
            outline: none;
            margin: 20px;
        }
        .header-edit {
            > * {
                margin-inline-start: 15px;
                margin-block-end: 20px;
            }
            button {
                border: none;
                background-color: transparent;
                margin-block-end: 10px;
            }
        }
    }
}
